<div id = "plots_modal" class="modal"> 
    <div class = "plot_modal_content">
        <span class = 'close'>&times;</span>
        <h3>Select a Graph</h3>

        <div class="graph-list">
            {% for img in images %}
                <button onclick="viewGraph('{{ img }}')">{{ img }}</button>
            {% endfor %}
        </div>

    </div>
</div>

<script>
    const hashHex = "{{ hash_hex }}";

    function viewGraph(filename) {
        const modal = document.getElementById("plots_modal");
        const graphImg = document.getElementById("selectedGraph");
        modal.style.display = 'none';
        graphImg.src = `/../uploaded_files/${hashHex}/${filename}`;
        graphImg.style.display = 'block';
        }


    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById("plots_modal");
        const openModal = document.getElementById("openModal");
        const closeModal = document.querySelector(".close");
        const graphImg = document.getElementById("graphImg");
        
        openModal.onclick = () => {
            modal.style.display = 'block';

            };

        closeModal.onclick = () => {
            modal.style.display = 'none';
            };

        window.onclick = (e) => { if (e.target === modal) modal.style.display = 'none'; };


    });

</script>