{% extends "base.html" %}

{% block content %}

<a href="/" class="btn btn-primary mb-3" style="position: relative; z-index: 1100;">Return to Home Page</a>
<div id="list_modal" class="modal" style="display: flex; justify-content: center; align-items: flex-start; padding-top: 65px; ">    
    <div class = "plot_modal_content" >
        <h3 >Select a Graph</h3>
        <div style = "border: 2px solid rgb(116, 112, 112); padding: 10px;">
            {%for t in tables %}
            <h4 style = "padding: 5px">{{ t }}</h4>
            <div class="graph-list" style = "display: flex;justify-content: center; align-items: flex-start; ">
                {% for img in imageMap[t] %}
                <button onclick="viewGraph('{{dic[t]}}','{{ img }}')"  style = "margin: 5px;">{{ img }}</button>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id = "plots_modal" class = "modal"  style="display: none; justify-content: center; align-items: center;">
    <!-- <span class = 'close'>&times;</span> -->
    <div id="graphViewer">
        <img id="selectedGraph" style="max-width: 100%; display: none;">
    </div>
</div>

<script>

    function viewGraph(t,filename) {
        
        const list_modal = document.getElementById("list_modal");
        const plots_modal = document.getElementById("plots_modal");
        const graphImg = document.getElementById("selectedGraph");
        list_modal.style.display = 'none';
        plots_modal.style.display = 'flex';
        graphImg.src = `/../../uploaded_files/${t}/${filename}`;
        graphImg.style.display = 'flex';

        }


    document.addEventListener("DOMContentLoaded", function () {
        const list_modal = document.getElementById("list_modal");
        const plots_modal = document.getElementById("plots_modal");
        // const closeModal = document.querySelector(".close");
        const graph = document.getElementById("selectedGraph");
        
        // openModal.onclick = () => {
        //     modal.style.display = 'flex';

        //     };

        // closeModal.onclick = () => {
        //     plots_modal.style.display = 'none';
        //     list_modal.style.display = 'flex';
        //     };

        window.onclick = (e) => { 
            if (e.target === plots_modal || e.target === graph){ 
                plots_modal.style.display = 'none';
                list_modal.style.display = 'flex';
            }
        };


    });

</script>
{% endblock %}